.page-content-header
  .header-main-content
    = render 'ci/status/badge', status: @pipeline.detailed_status(current_user)
    %strong Pipeline ##{@pipeline.id}
    triggered #{time_ago_with_tooltip(@pipeline.created_at)}
    - if @pipeline.user
      by
      = user_avatar(user: @pipeline.user, size: 24)
      = user_link(@pipeline.user)
  .header-action-buttons
    - if can?(current_user, :update_pipeline, @pipeline.project)
      - if @pipeline.retryable?
        = link_to "Retry", retry_namespace_project_pipeline_path(@pipeline.project.namespace, @pipeline.project, @pipeline.id), class: 'js-retry-button btn btn-inverted-secondary', method: :post
      - if @pipeline.cancelable?
        = link_to "Cancel running", cancel_namespace_project_pipeline_path(@pipeline.project.namespace, @pipeline.project, @pipeline.id), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', method: :post

- if @commit
  .commit-box
    %h3.commit-title
      = markdown(@commit.title, pipeline: :single_line)
    - if @commit.description.present?
      %pre.commit-description
        = preserve(markdown(@commit.description, pipeline: :single_line))

.info-well
  - if @commit.status
    .well-segment.pipeline-info
      .icon-container
        = icon('clock-o')
      = pluralize @pipeline.statuses.count(:id), "job"
      - if @pipeline.ref
        from
        = link_to @pipeline.ref, namespace_project_commits_path(@project.namespace, @project, @pipeline.ref), class: "monospace"
      - if @pipeline.duration
        in
        = time_interval_in_words(@pipeline.duration)
      - if @pipeline.queued_duration
        = "(queued for #{time_interval_in_words(@pipeline.queued_duration)})"

  .well-segment.branch-info
    .icon-container.commit-icon
      = custom_icon("icon_commit")
    = link_to @commit.short_id, namespace_project_commit_path(@project.namespace, @project, @pipeline.sha), class: "monospace js-details-short"
    = link_to("#", class: "js-details-expand hidden-xs hidden-sm") do
      %span.text-expander
        \...
    %span.js-details-content.hide
      = link_to @pipeline.sha, namespace_project_commit_path(@project.namespace, @project, @pipeline.sha), class: "monospace commit-hash-full"
    = clipboard_button(text: @pipeline.sha, title: "Copy commit SHA to clipboard")
